body {
	overflow: hidden;
	margin: 0;
//	@include color-fondo();
  	@include color-degradado(#cee0e7, #b9faff, #e4f8ff, black);
}
header {
	position: relative;
	width: 100%;
//	@include color-fondo();
}
main {
	position: relative;
	width: 100%;
	overflow: auto;
//	@include color-fondo();
}

@import "icons";

@import "menu";

@import "tabla";

@import "dialogo";

@import "panel";
