$dialogo-color1: white;
$dialogo-color2: white;
$dialogo-color3: black;
$dialogo-color-texto: black;
$dialogo-color1-resaltado: black;
$dialogo-color2-resaltado: white;
$dialogo-color3-resaltado: white;
$dialogo-color-texto-resaltado: black;

.dialogo {
	@include pantalla-completa();
	position: fixed;
	
	.dialogo-velo {
		@include pantalla-completa();
		background-color: black;
		opacity: 0.5;
		cursor: pointer;
	}

	.dialogo-contenedor {
		border-style: solid;
		border-width: 4px;
		border-radius: 15px;
		position: absolute;

		>*:first-child {
			border-radius: 11px 11px 0 0;
		}
		>*:last-child {
			border-radius: 0 0 11px 11px;
		}

		header {
			@include color-degradado(#5959FF, #0505FF, #0505FF, white);

			h2 {
				margin: 0;
				padding: 4px 16px; 
				font-size: 12pt;
				font-family: Arial;

				.icon {
					float: right;

					&:before {
						cursor: pointer;
					}

					&:hover {
						color: yellow;
					}
				}
			}
		}

		main {
			padding: 10%;
			width: 80%;
		}
					
		.menu {
			@include color-degradado2($dialogo-color1, $dialogo-color2, $dialogo-color3, $dialogo-color-texto);
			border-radius: 0 0 11px 11px;
			text-align: right;
			
			.menu-item:hover {
				@include color-degradado2($dialogo-color1-resaltado, $dialogo-color2-resaltado, $dialogo-color3-resaltado, $dialogo-color-texto-resaltado);

				a {
					color: $dialogo-color-texto-resaltado;
				}
			}
		}
	}
}

