.filtro {
  font-style: normal;
  max-height: 200px;
  overflow: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;

    li {
      display: table-row;

      &:not(:first-child){
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #a0a0a0;
      }

      input[type="checkbox"]{
        display: table-cell;
        vertical-align: middle;
      }

      .contenido {
        display: table-cell;
        font-weight: normal;
        vertical-align: middle;
        text-align: left;

        .contenido-numerico {
          display: table;
          font-weight: normal;
          width: 100%;

          .texto {
            display: table-cell;
            padding: 0 4px;
          }

          input {
            display: table-cell;
            max-width: 64px;
          }
        }
      }
    }
  }
}