.filtro {
  font-style: normal;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;

    li {
      display: table-row;

      input[type="checkbox"]{
        display: table-cell;
        vertical-align: middle;
      }

      .contenido {
        display: table-cell;
        font-weight: normal;
        vertical-align: middle;

        .contenido-numerico {
          display: table;
          font-weight: normal;
          width: 100%;

          .texto {
            display: table-cell;
            padding: 0 4px;
          }

          input {
            display: table-cell;
            max-width: 64px;
          }
        }
      }
    }
  }
}