.filtronumerico {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      input{
        max-width: 64px;
      }

      div {
        display: inline-block;
        height: 100%;
        width: 95%;
        font-weight: normal;

        span {
          padding: 0 4px;
        }

        &:first-child {
          width: 5%;
        }
      }
    }
  }
}