
.panel {
  border-radius: 10px;
  margin: 1%;
  min-width: 32%;
  min-height: 35%;
  display: inline-block;
  overflow: hidden;

  .tabla-cont {
    overflow: auto;
    border-radius: 10px;

    .tabla-div {
      position: absolute;

      .tabla {
        border-width: 0;
        margin: 0;

        .menu {
          display: flex;

          .menu-item {
            //position: absolute;
          }
        }
      }
    }
  }
  h2 {
    border-radius: 10px;
    font-family: Verdana;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 32px;
    background-color: #686767;
    color: #c3c3c3;
  }
}
