
.panel {
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  margin: 1%;
  min-width: 32%;
  min-height: 48%;
  display: inline-block;
  overflow: hidden;

  .tabla-cont {
    overflow: auto;

    .tabla {
      border-width: 0;
    }
  }
  h2 {
    font-family: Verdana;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 32px;
  }
}
